* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header style start */
header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1050px;

}

.container {
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: #131313;

}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    width: 477px;
    height: 26px;

}

.menu-bar ul li {
    list-style: none;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
}

.menu-bar ul li a:hover {
    background-color: #FF900E;
    padding: 3px 5px;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

.nav-title {
    width: 800px;
    text-align: center;
    margin: 50px auto;

}

.title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: #131313;

}

.description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 33px;

}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    color: #FFFF;
}
.primary-btn:hover{
    box-shadow: 2px 2px 2px 2px rgb(235, 114, 114);
    background-color: red;
    width: 200px;
}

.img-section img {
    width: 100%;
    border-radius: 8px;
}

/* header style end */

/* main style start */

.primary-color {
    color: #727272;
}

.secondary-color {
    color: #FF900E;
}

/* future section style start*/
.future-section {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.future-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.tems img {
    width: 100%;
}
.tems img:hover{
    box-shadow: 2px 2px 15px 2px blue;
}

.future-content {
    width: 50%;
    height: 304px;
    position: relative;
    top: 90px;
}

.future-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
    width: 100%;
    height: 106px;
}

.future-description {
    width: 100%;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

/* future section style end*/
/* -- love and enjoy style start -- */
.love-enjoy-section {
    display: flex;
    gap: 54px;
    margin-top: 100px;
}

.love {
    width: 50%;
}

.love-row {
    width: 80%;
    height: 100px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px 2px rgb(248, 246, 246);
    border: 0;
    border-radius: 5px;
}
.love-row:hover{
    box-shadow: 2px 2px 15px 2px blue;
}
.love-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 4px solid #FF900E;
    padding-left: 15px;
}

.enjoy-img img {
    width: 80%;
    height: 100%;
    padding-left: 90px;
}
.enjoy-img img:hover{
    box-shadow: 2px 2px 15px 2px blue;
}

.experience-year {
    background-color: #FF900E;
    width: 30%;
    text-align: center;
    padding: 40px;
    position: relative;
    top: -115px;
    border: 0;
    border-radius: 8px;
}
.experience-year:hover{
    box-shadow: 2px 2px 15px 2px blue;
}
.experience-yea,
.year-title {
    font-size: 50px;
    color: #fff;
}

.experience-yea,
.year-sub-title {
    color: #fff;
}

/* -- love and enjoy style end  -- */

/* -- some gacts style start-- */
.some-facts-section {
    margin-top: 100px;
}

.some-facts-title {
    width: 258px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;

}

.some-facts-description {
    width: 50%;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.some-facts-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 107px;
}

.card {
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.card .card-row {
    width: 150px;
    height: 150px;
    text-align: center;
}
.card:hover{
    background-color: #7b79e7;
    color: #fff;
}
.card .card-row:hover{
    transform: rotate(45deg);
    color: #FF900E;
}
.card-row:hover{
    background-color: green;
    color: #fff;
}
.card-sub-title:hover{
    color: #fff;
}

.card-title {
    font-weight: 600;
    font-size: 45px;
}

.card-sub-title {
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}



/* -- some gacts style start-- */

/* -- our sponspors section start -- */

.sponspor-section {
    width: 50%;
    height: 129px;
    margin: 0px auto 50px;
    text-align: center;
}

.sponspor-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponspors-card{
    margin-left: 10px;
}
.sponspors-card:hover{
    box-shadow: 2px 2px 15px 2px blue;
    padding: 10px;
    margin: 10px;
}
.sponspor-card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponspors{
    margin-bottom: 50px;
}
/* -- our sponspors section end -- */



/* footer style start */
.footer {
    width: 80%;
    margin: 130px auto;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding: 39px 0px;
}

/* footer style end */

















/* Phone media size */
@media only screen and (max-width:576px) {

    /* header style start */
    header {
        background: rgba(255, 144, 14, 0.1);
        width: 100%;
        height: 650px;
    }

    .container {
        width: 90%;
        margin: 0px auto;
        padding-top: 50px;
        
    }

    .nav-section {
        width: 100%;
        justify-content: space-between;

    }

    .logo {
        font-weight: 700;
        font-size: 20px;
        color: #131313;
    }

    .nav-title {
        width: 60%;
        margin-left: 100px;
        margin-top: 80px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 10px;
        margin-bottom: 10px;

    }

    .primary-btn {
        padding: 5px 10px;
        font-size: 10px;
    }
    .primary-btn:hover{
        width: 100px;
    }

    .menu-bar ul {
        position: absolute;
        flex-direction: column;
        width: 100px;
        height: 150px;
        right: 35px;
        text-align: right;
    }

    .menu-bar ul li a {
        margin-bottom: 10px;
    }

    .menu-bar ul li:hover {
        background-color: #FF900E;
        padding: 5px;
        color: #fff;
        border-radius: 8px;
    }

    /* header style end */
    /* main section style start */
    /* future section style start */
    .future-section {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 100%;
    }

    .future-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .future-content {
        width: 80%;
        height: 240px;
        position: relative;
        top: 10px;

    }

    .future-title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .future-description {
        font-size: 15px;
        color: #727272;
        margin-bottom: 20px;
    }

    /* future section style end */

    /* -- love and enjoy style start -- */
    .love-enjoy-section {
        flex-direction: column;
        margin-top: 0px;
        height: 1900px;
    }

    .love {
        width: 100%;
    }

    .enjoy-img img {
        width: 100%;
        padding-left: 0px;
    }

    .experience-year {
        padding: 10px;
        top: 20px;
        left: 35%;
    }

    .experience-yea,
    .year-title {
        font-size: 25px;
        color: #fff;
    }

    /* -- some gacts style start-- */

    .some-facts-description {
        margin-top: 10px;
        width: 90%;
    }

    .some-facts-card {
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        padding-bottom: 107px;
    }

    .card {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .card .card-row {
        width: 50%;
    }
    .card .card-row {
        width: 60%;

    }

    .card-title {
        font-size: 50px;
    }

    .card-sub-title {
        font-weight: 600;
        font-size: 25px;
        color: #727272;
    }
    
    .card .card-row:hover{
        transform: rotate(-4deg);
        color: #FF900E;
    }
    

    /* -- some gacts style end-- */
    /* -- our sponspors section start -- */
    .sponspor-section {
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;

    }

    .sponspor-title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 24px;
        width: 100%;
    }

    .sponspors-desccription {
        width: 100%;
    }

    .sponspor-card-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponspors-card {
        text-align: center;
        margin-bottom: 20px;
    }

    /* -- our sponspors section start end-- */
    /* footer style start */
    .footer-description{
        font-size: 12px;

    }
    /* footer style  end */

}