* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header style start */
header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1100px;

}

.container {
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;

}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: #131313;

}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    width: 477px;
    height: 26px;

}

.menu-bar ul li {
    list-style: none;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
}

.menu-bar ul li a:hover {
    background-color: #FF900E;
    padding: 3px 5px;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

.nav-title {
    width: 800px;
    text-align: center;
    margin: 50px auto;

}

.title {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: #131313;

}

.description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 33px;

}

.primary-btn {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    color: #FFFF;
}

.img-section img {
    width: 100%;
    border-radius: 8px;
}

/* header style end */

/* main style start */

.primary-color {
    color: #727272;
}

.secondary-color {
    color: #FF900E;
}

/* future section style start*/
.future-section {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.future-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.tems img {
    width: 100%;
}

.future-content {
    width: 50%;
    height: 304px;
    position: relative;
    top: 90px;
}

.future-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
    width: 100%;
    height: 106px;
}

.future-description {
    width: 100%;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}
/* future section style end*/



/* Phone media size */
@media only screen and (max-width:576px) {

    /* header style start */
    header {
        background: rgba(255, 144, 14, 0.1);
        width: 100%;
        height: 650px;
    }

    .container {
        width: 90%;
        margin: 0px auto;
        padding-top: 50px;
    }

    .nav-section {
        width: 100%;
        justify-content: space-between;

    }

    .logo {
        font-weight: 700;
        font-size: 20px;
        color: #131313;
    }

    .nav-title {
        width: 60%;
        margin-left: 100px;
        margin-top: 80px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 10px;
        margin-bottom: 10px;

    }

    .primary-btn {
        padding: 5px 10px;
        font-size: 10px;
    }

    .menu-bar ul {
        position: absolute;
        flex-direction: column;
        width: 100px;
        height: 150px;
        right: 35px;
        text-align: right;
    }

    .menu-bar ul li a {
        margin-bottom: 10px;
    }

    .menu-bar ul li:hover {
        background-color: #FF900E;
        padding: 5px;
        color: #fff;
        border-radius: 8px;
    }

    /* header style end */
    /* main section style start */
    /* future section style start */
    .future-section {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .future-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .future-content {
        width: 80%;
        height: 240px;
        position: relative;
        left: 45px;
    }
    
    .future-title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    .future-description {
        font-size: 15px;
        color: #727272;
        margin-bottom: 20px;
    }
    /* future section style end */

}